<div id="smart-container">
  <div class="row">
    <h1 class="col-md-12 sources-container" style="text-align: center;">
        Score de fiabilité intellectuelle collaboratif.
    </h1>
    <div class="col-md-8 sources-container">
      <p>
      <div>
        Dernières sources en attente :
      </div>
      <% Source.new_pendings.each_with_index do |source, index| %>
      <div class="source-lis">
        <% if index.even? %>
        <%= link_to source.abstract_with_name, new_vote_path({:source_id => source.id}), :class => 'source-colorized' %>
        <% else %>
        <%= link_to source.abstract_with_name, new_vote_path({:source_id => source.id}) %>
        <% end %>
      </div>
      <% end %>
      </p>
      <p>
      <div>
        Dernières sources validées :
      </div>
      <% Source.last_correct.each_with_index do |source, index| %>
        <div class="source-lis">
          <% if index.even? %>
          <%= link_to source.abstract_with_name, source_path(source.id), :class => 'source-colorized' %>
          <% else %>
          <%= link_to source.abstract_with_name, source_path(source.id) %>
          <% end %>
        </div>
      <% end %>
      </p>
    </div>
    <div class="col-md-4 sources-container">
      <div id="resume-title">Dernières fiches créées</div>
      <% Person.last_created.each do |person| %>
        <div>
          <%= link_to displayed_name(person), person_path(person.id)  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div style="text-align: center; text-transform: uppercase;">
    <p><a href="https://twitter.com/ConfianScore">Compte Twitter de ConfianScore</a></p>
</div>
