<div id="smart-container">
  <div class="row">
    <div class="col-md-12 sources-container" id="home-header" style="text-align: left;">
      <%= image_tag("logo.png", alt: "Confianscore Logo", id: "home-image") %>
      <div id="home-header-block">
        <h1 id="home-title">
            ConfianScore
        </h1>
        <h2 id="home-desc">
          Score de fiabilité intellectuelle collaboratif.
        </h2>
      </div>
    </div>
    <div class="col-md-8 sources-container">
      <p>
      <div class="home-last">
        Dernières sources en attente :
      </div>
      <% if @pendings.count == 0 %>
      <div class="source-lis">Pas de source en attente de validation</div>
      <% end %>
      <ul>
      <% @pendings.each_with_index do |source, index| %>
        <li class="source-lis">
          ·
          <% if index.even? %>
          <%= link_to source.abstract_with_name, new_vote_path({:source_id => source.id}), :class => 'source-colorized' %>
          <% else %>
          <%= link_to source.abstract_with_name, new_vote_path({:source_id => source.id}) %>
          <% end %>
        </li>
      <% end %>
      </ul>
      </p>
      <p>
      <div class="home-last">
        Dernières sources validées :
      </div>
      <ul>
      <% @last_corrects.each_with_index do |source, index| %>
        <li class="source-lis">
          ·
          <% if index.even? %>
          <%= link_to source.abstract_with_name, source_path(source.id), :class => 'source-colorized' %>
          <% else %>
          <%= link_to source.abstract_with_name, source_path(source.id) %>
          <% end %>
        </li>
      <% end %>
      </ul>
      </p>
    </div>
    <div class="col-md-4 sources-container">
      <div id="resume-title">Dernières fiches créées</div>
      <% Person.last_created.each do |person| %>
        <div>
          <%= link_to displayed_name(person), person_path(person.id)  %>
        </div>
      <% end %>
      <%= link_to "Voir toutes les fiches", people_path(), id: "all-fiches" %>
    </div>
  </div>
</div>
<div style="text-align: center; text-transform: uppercase;">
    <p><a href="https://twitter.com/ConfianScore">Compte Twitter de ConfianScore</a>
    -
    <a href="https://github.com/confianscore/confianscore">Github</a></p>
</div>
