<p id="notice"><%= notice %></p>

<h1>Sources en attente</h1>

<table>
  <thead>
    <tr>
      <th>Profil</th>
      <th>Extrait</th>
      <th>Référence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @sources.count == 0 %>
    <tr>Pas de source en attente de validation</tr>
    <% end %>
    <% @sources.each do |source| %>
      <tr>
        <td><%= displayed_name(source.person) %></td>
        <td><%= source.abstract %></td>
        <td><%= link_to "Lien", source.link, "target": "_blank" %></td>
        <td><%= link_to 'Voter', new_vote_path({:source_id => source.id}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
