<p id="notice"><%= notice %></p>

<p>
  <strong>Abstract:</strong>
  <%= @source.abstract %>
</p>

<p>
  <strong>Link:</strong>
  <%= @source.link %>
</p>

<p>
  <strong>Person:</strong>
  <%= @source.person_id %>
</p>

<p>
  <strong>Commentaire:</strong>
  <%= @source.commentaire %>
</p>

<%= link_to 'Retour - ' + @source.person.full_name, person_path(@source.person_id) %>
