<p id="notice"><%= notice %></p>

<p id="source">
  <span>
    « <%= @source.abstract %> »
  </span>
  <span id="source-author">
    <%= link_to displayed_name(@source.person), person_path(@source.person_id) %>
  </span>
</p>

<p>
  <strong>Lien :</strong>
  <%= link_to "Voir la source", @source.link %>
</p>


<p>
  <strong>Commentaire :</strong>
  <% if @commentaire.present? %>
    <%= @source.commentaire.content %>
    <%= link_to "Modifier ce commentaire", edit_commentaire_path(@source.commentaire.id) %>
  <% else %>
    <%= "Pas de commentaire pour l'instant - " %>
    <%= link_to "Le créer", new_commentaire_path(:source_id => @source.id) %>
  <% end %>
</p>

<p>
  <%= source_result(@source.is_correct) %>
</p>

<hr>

<p>
  <strong>Discussion :</strong>
  <div id="discussion-messages">
    <% @source.messages.find_each do |message| %>
        <%= message_displayable(message) %>
    <% end %>
  </div>
  </br>
  <% if current_user %>
    <%= link_to "Participer à la discussion", new_message_path(:source_id => @source.id) %>
  <% else %>
    <%= link_to "Se connecter pour participer à la discussion", new_user_session_path() %>
  <% end %>
</p>
