<p id="notice"><%= notice %></p>

<p>
  <strong>Abstract:</strong>
  <%= @source.abstract %>
</p>

<p>
  <strong>Link:</strong>
  <%= link_to "Voir la source", @source.link %>
</p>

<p>
  <strong>Person:</strong>
  <%= @source.person_id %>
</p>

<p>
  <strong>Commentaire:</strong>
  <% if @commentaire.present? %>
    <%= @source.commentaire.content %>
    <%= link_to "Modifier ce commentaire", edit_commentaire_path(@source.commentaire.id) %>
  <% else %>
    <%= "Pas de commentaire pour l'instant - " %>
    <%= link_to "Le créer", new_commentaire_path(:source_id => @source.id) %>
  <% end %>
</p>

<p>
  <%= source_result(@source.is_correct) %>
</p>


<%= link_to 'Retour - ' + displayed_name(@source.person), person_path(@source.person_id) %>

<hr>

<p>
  <strong>Discussion :</strong>
  <% @source.messages.find_each do |message| %>
    <p>
      <%= message_displayable(message) %>
    </p>
  <% end %>
  </br>
  <% if current_user %>
    <%= link_to "Participer à la discussion", new_message_path(:source_id => @source.id) %>
  <% else %>
    <%= link_to "Se connecter pour participer à la discussion", new_user_session_path() %>
  <% end %>
</p>
