<div id="smart-container">
  <div class="row person-header">
    <div class="col-md-3" id="image-container">
      <% if @person.photo_url.nil? %>
        <%= image_tag("default_guy.webp", alt: "Default image", id: "people-image") %>
       <% else %>
        <img id="people-image" src="<%= @person.photo_url %>">
        <div id="img-licence">
          <%= @person.licence %>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <div id="people-image-info">
        <h1><%= displayed_name(@person) %></h1>
        <h2 id="fiabilite"><%= score_label(@person.score_value, @person.sources.count) %></h2>
        <div><%= source_counter(Source.validated_and_used_by_person(@person.id).count) %></div>
      </div>
    </div>
    <div class="col-md-3">
      <div id="wikipedia">
      <% if @person.wikipedia_link.present? %>
      <h3 id="wikilink">
        <i class="fab fa-wikipedia-w"></i>
        <%= link_to "A une fiche Wikipédia.", @person.wikipedia_link %>
        <div id="resume-info">
          <%= @person.wiki_summary %>
        </div>
      </h3>
      <% else %>
      <div>
        N'a pas de fiche Wikipédia.
      </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 sources-container">
      <div id="sources-box">
        <span id="sources-box-lbl">Sources</span><span><%= link_to "[En ajouter]", new_source_path({:person_id => @person.id}), id: "sources-box-btn" %></span>
      </div>
      <% Source.validated_and_used_by_person(@person.id).order('created_at DESC').each do |source| %>
        <div class="row">
            <div class="col-10 source">
              <%= link_to show_source(source.abstract), source_path(source.id), class: "source-details-link" %>
              <div class="gravite-source">
                <%= ajoute_le(source) + gravite(source) %>
              </div>
            </div>
        </div>
      <% end %>
      <% if Source.validated_and_used_by_person(@person.id).count == 0 %>
        <div class="row">
            <div class="col-10 source">
              <div>Pas de source pour l'instant</div>
            </div>
        </div>
      <% end %>
      <div id="predictions-box" style="margin-top: 25px;">
        <span id="predictions-box-lbl">Annonces pour le futur</span><span><%= link_to "[En ajouter]", new_prediction_path({:person_id => @person.id}), id: "predictions-box-btn" %></span>
      </div>
      <% @person.predictions.order('created_at DESC').each do |prediction| %>
        <div class="row">
            <div class="col-10 source">
              <%= link_to prediction.id, prediction_path(prediction.id), class: "source-details-link" %>
            </div>
        </div>
      <% end %>
      <% if @person.predictions.count == 0 %>
        <div class="row">
            <div class="col-10 source">
              <div>Pas de prédiction pour l'instant</div>
            </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 sources-container">
      <%= render "score" %>
      <div id="resume-title">Réseaux sociaux de <%= displayed_name(@person) %></div>
      <% show_media(@person.media).each do |media| %>
        <%= media %>
      <% end %>
    </div>
  </div>
</div>
