<div id="smart-container">
  <div class="row person-header">
    <div class="col-md-3" id="image-container">
      <%= image_tag("default_guy.webp", alt: "Default image", id: "people-image") %>
    </div>
    <div class="col-md-6">
      <div id="people-image-info">
        <h2><%= @person.full_name %></h2>
        <h3><%= score_label(@person.score_value) %></h3>
        <div><%= source_counter(Source.validated_and_used_by_person(@person.id).count) %></div>
      </div>
    </div>
    <div class="col-md-3">
      <div id="wikipedia">
      <% if @person.wikipedia_link.present? %>
      <div id="wikilink">
        <i class="fab fa-wikipedia-w"></i>
        <%= link_to "A une fiche Wikipédia.", @person.wikipedia_link %>
        <div id="resume-info">
          <%= @person.wiki_summary %>
        </div>
      </div>
      <% else %>
      <div>
        N'a pas de fiche Wikipédia.
      </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 sources-container">
      <div>
        <%= link_to "Ajouter une source", new_source_path({:person_id => @person.id}) %>
      </div>
      <% Source.validated_and_used_by_person(@person.id).each do |source| %>
        <div class="row">
            <div class="col-10 source">
              <%= link_to show_source(source.abstract), source_path(source.id), class: "source-details-link" %>
              <div class="gravite-source">
                <%= gravite(source) %>
              </div>
            </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 sources-container">
      <div id="resume-title">Réseaux sociaux de <%= @person.full_name %></div>     
      <% show_media(@person.media).each do |media| %>
        <%= media %>
      <% end %>
    </div>
  </div>
</div>