<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @commentaire.source_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @commentaire.content %>
</p>

<%= link_to 'Editer', edit_commentaire_path(@commentaire) %> |
<%= link_to 'Voir la source', source_path(@commentaire.source_id) %>