<%= form_with(model: vote, local: true) do |form| %>
  <% if vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
        <% vote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" hidden>
    <%= form.label :source_id %>
    <%= form.number_field :source_id %>
  </div>

  <div id="vote-validation-field">
    <div class="field">
      <%= form.radio_button :is_validated, true %>
      <%= label :is_validated, 'Oui.', id: "source-validated" %>
      <%= form.radio_button :is_validated, false, id: "source-unvalidated" %>
      <%= label :is_validated_no, 'Non.' %>
    </div>

    <div class="field" id="tag-selector">
      <%= form.select :tag_id, options_for_select(Tag.order_by_coefficient.pluck(:name, :id)) %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit "Voter" %>
  </div>
<% end %>
