<div id="smart-container">
    <div class="vote-container">
        <% if @validation_in_progress == true %>
            <div id="ans-block">
              <div class="quote-ans">La phrase suivante a t-elle été prononcée exactement en ces termes par <%= @person.full_name %> ? </div>
              <div class="quote-ans">Et si oui, exprime t-elle honnêtement sa pensée ? </div>
              <div class="quote-ans">Et si oui, est-elle de nature à avoir des conséquences sur l'esprit critique du public ? </div>
            </div>
            <div id="quote">
              « <a href="<%= @source.link %>"><%= @source.abstract %></a> »
            </div
            <% if @already_vote == true %>
                <div>Vous avez déjà voté pour cette source.</div>
            <% else %>
                <%= render 'form', vote: @vote %>
            <% end %>
        <% else %>
            <div>
                Il n'est plus possible de voter pour cette source.
            </div>
            <div>
                <%= source_result(@source.is_correct) %>
            </div>
        <% end %>
        <hr>
        <div>Discussions</div>
        <div id="discussion-messages">
          <% @source.messages.find_each do |message| %>
              <%= message_displayable(message) %>
          <% end %>
        </div>
        <%= link_to "Participer à la discussion", new_message_path(:source_id => @source.id) %>
    </div>
</div>
