<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @vote.source_id %>
</p>

<p>
  <strong>Is validated:</strong>
  <%= @vote.is_validated %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @vote.tag_id %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
